$hud_color: rgba(255,160,0);

Health, Armor, Ammo {
	position: absolute;
	/*background-color: rgba( black, 0.5 );*/
	bottom: 48px;
	font-size: 40px;
	font-weight: bold;
	color: $hud_color;
	height: 50px;
	padding: 0 20px;
	align-items: center;
	font-family: 'Trebuchet MS';
}

Health {
	left: 100px;
}

Armor
{
	left: 300px;
}

Ammo {
	right: 300px;
}

Armor Panel.empty, Armor Panel.full, Health Panel.health {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50px;
	max-height: 50px;
	width: 50px;
	max-width: 50px;
	background-image: url(/HUD/img/suit_empty.png);
	background-position: bottom;
	background-size: 50px;
	overflow: hidden;
	filter: tint($hud_color);
}

Armor Panel.full {
	background-image: url(/HUD/img/suit_full.png);
}

Health Panel.health {
	background-image: url(/HUD/img/health.png);
}

DigitDisplay
{
	margin-left: 20px;
	align-items: center;
}

DigitDisplay .digit
{
	position: relative;
	width: 29px;
	height: 33px;
	background-image: url(/HUD/img/digits/0.png);
	background-size: 29px 33px;

	background-tint: $hud_color;
}

CurrentTool {
	position: absolute;
	background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.0));
	top: 100px;
	left: 0px;
	padding: 30px 70px;
	flex-direction: column;
	width: 560px;
	opacity: 0.0;

	&.active {
		opacity: 1.0;
	}

	.title {
		font-size: 50px;
		font-weight: bold;
		text-shadow: 4px 4px 10px rgba( black, 0.3 );
		color: $hud_color;
	}

	.description {
		padding-top: 5px;
		padding-left: 10px;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 2px 2px 5px rgba( black, 0.3 );
		color: $hud_color;
		opacity: 0.8;
	}
}

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}


	&.devcamera
	{
		display: none;
	}
}


InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 48px;
	justify-content: center;
	align-items: flex-end;
}

InventoryIcon {
	width: 80px;
	height: 80px;
	background-color: rgba( #222, 0.3 );
	margin: 0px 2px;
	position: relative;
	transition: all 0.2s ease-in-out;
	margin-top: 10px;
	font-family: poppins;

	.item-name {
		padding: 5px;
		color: $hud_color;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-shadow: 1px 1px 5px black;
	}

	.slot-number {
		font-size: 25px;
		color: black;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active {
		background-color: rgba( #0094ff, 0.5 );
		transition: all 0.1s ease-out;
		width: 100px;
		height: 100px;

		.slot-number {
			color: #275576;
		}

		.item-name {
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}
